.navbar {
    border: 1px solid black;
    display: flex;
    padding: 10px;
}

.nav-links {
    list-style: none;
    z-index: 1000;
    padding: 10px;
    display: flex;
    position: sticky;
    text-align: center;
    justify-content: center;
    
    #home {
        text-decoration: none;
        color:black;
        margin: 5px 10px;
    }

    #About {
        text-decoration: none;
        color:black;
        margin: 5px 10px;
    }

    #Projects {
        text-decoration: none;
        color:black;
        margin: 5px 10px;
    }

    #Contact {
        text-decoration: none;
        color:black;
        margin: 5px 10px;
    }

    #Blog {
        text-decoration: none;
        color:black;
        margin: 5px 10px;
    }

}