---
import "../styles/navbar.css"
---
<nav class="navbar">

    <h2 class="logo">K-Portfolio</h2>
    <ul class="nav-links">
        <li><a href="#" id="home">Home</a></li>
        <li><a href="#" id="About">About</a></li>
        <li><a href="#" id="Projects">Projects</a></li>
        <li><a href="#" id="Contact">Contact</a></li>
        <li><a href="#" id="Blog">Blog</a></li>
    </ul>
</nav>